#body-container,#tf-home,#overly{
    min-width:1200px;
}
.tab-bar{
    position: fixed;
    top:150px;
    left:20px;
}
.tab-bar ul li{
    padding:10px 0;
}
.tab-bar ul li i{
padding-right:10px;
}
.page-content{
    margin-left:180px;
    border:1px solid white;
    display: flex;
}
.left-side{
    width:680px;
    border:1px solid red;
    margin-right:30px;
}
.partition-name >h3{
    padding:0px;
    margin:0;
}
.partition-name{
    padding-top:20px;
    padding-bottom:20px;
}
.right-side{
    width:260px;
    border:1px solid green;
}
#top-carousel{
    width:680px;
    height:212px;
    overflow: hidden;
}
/* #top-carousel .carousel-inner .item{
width:680px;
} */
#top-carousel img{
    width:100%;
}
.right-side ul li{
    display:flex;
    justify-content: space-around;
}